@import "vars";

.monica {
  [class$="-container"] {
    background: var(--monica-bg-color);
    color: var(--monica-nav-text-color);
    filter: drop-shadow(0 1px 4px var(--monica-shadow-color));
  }

  .item-container {
    span {
      color: white;
    }

    .goods-item {
      background: var(--monica-button-color) !important;
      filter: drop-shadow(0 1px 1px var(--monica-shadow-color));
    }

    .tag {
      background: var(--monica-tag-bg-color) !important;
    }

  }

}