@import "vars";

.popipa {
  [class$="-container"] {
    background: var(--popipa-bg-color);
    color: var(--popipa-nav-text-color);
    filter: drop-shadow(0 1px 4px var(--popipa-shadow-color));
  }

  button {
    background: var(--popipa-button-color) !important;
  }

  .item-container {
    span {
      color: white;
    }

    .goods-item {
      background: var(--popipa-button-color) !important;
      filter: drop-shadow(0 1px 1px var(--popipa-shadow-color));
    }

    .tag {
      background: var(--popipa-tag-bg-color) !important;
    }

  }

}