@import "vars";

.roselia {
  [class$="-container"] {
    background: var(--roselia-bg-color);
    color: var(--roselia-nav-text-color);
    filter: drop-shadow(0 1px 4px var(--roselia-shadow-color));
  }

  button {
    background: var(--roselia-button-color) !important;
  }

  .item-container {
    span {
      color: white;
    }

    .goods-item {
      background: var(--roselia-button-color) !important;
      filter: drop-shadow(0 1px 1px var(--roselia-shadow-color));
    }

    .tag {
      background: var(--roselia-tag-bg-color) !important;
    }

  }


}